*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family:"Poppins",sans-serif;
}  
			
a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
}
h1{ 
    font-family: 'Ubuntu', sans-serif;  
    font-weight: 800;
    font-size: 3.6rem;
    margin: 1.6rem 0;
}
h2{
    font-family: 'Ubuntu', sans-serif;  
    font-weight: 800;
    font-size: 7rem;
    margin-bottom: 5rem;
    text-align: center;
}
span{font-weight: 800;
    font-size: 3.6rem;
    margin: 1.6rem 0;
    color: #4700b3;
    
}
p{
    font-weight: 400;
    font-size: 1.8rem;
    margin: 1.6rem 0;
}
.col2 img{
    width: 100%;
    height: auto;
} 
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items:center;
    margin:0;
    height: 45rem;
}
.header{ 
    
    
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    
    height: 720px;
}

.container{
    height: 100vh;
    max-width: 1400px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social img{
    transition: transform 0.5s;
}
.social img:hover{
    transform:scale(1.3);

}

.navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.navmenu{
    display: flex;
}
nav{
    width: 25rem;
    text-align: right;
    background: #fff;
    padding: 10px;
    border-radius: 50px;
    
    box-shadow: 0 25px 20px -20px rgb(0, 0, 0, 1);
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
        display: inline-block;
        margin-right: 20px;
        position:relative;
        transition: transform 0.5s;
}
nav ul li:hover{
    transform:scale(1.2);
    }
    .bold{
        text-decoration: none;
        transition: font-weight 0.3s;
    }
    .bold:hover{
        font-weight: bold;
    }
    /* for button */
    .cta {
        position: relative;
        margin: auto;
        padding: 12px 18px;
        transition: all 0.2s ease;
        border: none;
        background: none;
       }
       
       .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: #b1dae7;
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
       }
       
       .cta span {
        position: relative;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #4700b3;
       }
       
       .cta svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #234567;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
       }
       
       .cta:hover:before {
        width: 100%;
        background: #b1dae7;
       }
       
       .cta:hover svg {
        transform: translateX(0);
       }
       
       .cta:active {
        transform: scale(0.95);
       }

    /* for menu bar */
    
.navhide{
    display: none;
}
.navslide ul{
    display: none;
}
#checkbox {
    display: none;
  }

@media (max-width: 1000px){
    /* .row{ */
        /* flex-direction: column; */
        /* height: 180rem; */
    /* } */
    .navbar{
        height: 20rem;
    }
    .navbar img {
        width: 30rem;
    }
    
    .cta::before{
        width: 100px;
        height: 100px;}
        .cta span{
            font-size: 5rem;
        }
    .social{
        width: 100%;
        height: 20rem;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .social img{
        transform: scale(2.8);
    }
    
    .row{
        height: 180rem;
        flex-direction: column;
    }
    
    .col1{
        height: 35%;
    }
    .col1 h1{
        font-size: 10rem;
    }
     span{
        font-size: 12rem;
    }
    .col1 p{
        font-size: 5rem;
    }
    .header{
        height: 220rem;
    }
    nav{
        display: none;
    }
    .navmenu{
        transform: scale(2.5);
        margin-right: 50px;
    }
    .navslide{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 30%;
        background: linear-gradient(to bottom, #722ed8, #4a00e0);
        right: 0%;
        z-index: 1px;
        opacity: 0;
        border-radius:20px;
        box-shadow: 0 20px 50px 2px rgb(0, 0, 0, 0.5);
        transition: all .50s ease;
    }
    .navslide ul{
        display: flex;
        flex-direction: column;
        margin: 30px;
        padding: 10px;
        text-align: center;
        height: 100%;
    list-style-type: none;
    }
    .navslide ul li{
        height: 20%;
        margin-top: 50px;
        
    }
.bold{
    color: #fff;
    font-size: 5rem;
}
nav ul li:hover{
    transform:scale(1.2);
    }
    .bold{
        text-decoration: none;
        transition: font-weight 0.3s;
    }
    .bold:hover{
        font-weight: bold;
        color:#DA22FF;
    }
    .navslide.open{
        opacity: 1;
        
    }
    /* for menu bar */
    
      
    .toggle {
        position:relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition-duration: .5s;
      }
      
      .bars {
        width: 100%;
        height: 5px;
        background-color: #4a00e0;
        border-radius: 4px;
      }
      
      #bar2 {
        transition-duration: .8s;
      }
      
      #bar1,#bar3 {
        width: 70%;
      }
      
      #checkbox:checked + .toggle .bars {
        position: absolute;
        transition-duration: .5s;
      }
      
      #checkbox:checked + .toggle #bar2 {
        transform: scaleX(0);
        transition-duration: .5s;
      }
      
      #checkbox:checked + .toggle #bar1 {
        width: 100%;
        transform: rotate(45deg);
        transition-duration: .5s;
      }
      
      #checkbox:checked + .toggle #bar3 {
        width: 100%;
        transform: rotate(-45deg);
        transition-duration: .5s;
      }
      
      #checkbox:checked + .toggle {
        transition-duration: .5s;
        transform: rotate(180deg);
      }
      .navhide{
      display: none;
      }
      
      
    }
    
/* for slider */
    /* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.wrapper2{
  display: flex;
  max-width: 1200px;
  position: relative;
  margin: 50px;
  padding: 10px;
  background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  border-radius: 25px;
  box-shadow:0px 15px 20px #0000007c;
}
.wrapper2 i{
  top: 50%;
  height: 40px;
  width: 40px;
  
  cursor: pointer;
  
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  
  
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper2 i:active{
  transform: translateY(-50%) scale(0.8);
}

.wrapper2 i:first-child{
  left: -35px;
  display: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.wrapper2 i:last-child{
  right: -35px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.wrapper2 .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  border-radius: 20px;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
  border-radius: 25px;
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}    


/* for catagories */
.header1{
    margin-top: 0px;
    background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);



     
    
}
.categories{
    padding-top: 60px;
}
.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px ;
    margin-bottom: 30px;
    
}
.col-3 img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
}
.col-3 img:hover{
    transform: translateY(-15px);
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img{
    width: 45%;
   max-width: 500rem; 
   border-radius: 5rem;
}
.full-img span{
    position: absolute;
    top:48%;
    right: 20%;
    max-width: 25px;
    cursor: pointer;
    margin-left: 4rem;
    color: #fff;
    transition: transform 0.5s;
}
.full-img span:hover{
    color: #722ed8;
    transform: scale(1.3);
}

.small-container{

   
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
@media (max-width: 1000px){
    .wrapper2{
        padding: 25px;
    }
    .wrapper2 i:last-child img{
        display: none;
        
    }
    .wrapper2 i:first-child img{
        display: none;
        
    }
    .wrapper2 i:last-child{
        box-shadow:10px 10px 10px rgba(0, 0, 0, 0);
    }
    .wrapper2 i:first-child{
        box-shadow:10px 10px 10px rgba(0, 0, 0, 0);
    }
    
    .carousel img{
        height: 100rem;
        width: 80rem;
    }
    .full-img img{
        width: 80%;
       
    }
    .full-img span{
        top: 75%;
        right: 50%;
    }
    .col-3{
        min-width: 400px;
    }
    p{
        font-weight: 900;
    font-size: 3rem;
    }
}
        